<p class="lead">
  <a ui-sref="^.list" class="btn btn-large btn-default">
    <i class="glyphicon glyphicon-arrow-left"></i>
  </a>
  <a ng-click="save()" href="" class="btn btn-default pull-right">
    <i class="glyphicon glyphicon-floppy-save"></i>
  </a>
</p>

<div class="form-group">
  <input class="form-control" id="name" name="name" ng-model="note.name" placeholder="Name">
</div>
<div class="form-group">
  <textarea class="form-control" id="content" name="content" ng-model="note.content" placeholder="Content"></textarea>
</div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">
      {{note.name}}
  </div>
  <div class="panel-body">
    <pre>{{note.content}}</pre>
  </div>
</div>
