<h2>
    notes/list
    <a href="#/notes/add" class="btn btn-default pull-right">New</a>
</h2>
<div ng-repeat="note in notes">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>
                <div class="pull-right btngroup">
                    <a class="btn btn-default" href="#/notes/edit/{{note.id}}">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a class="btn btn-default" ng-click="delete(note)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
                <a href="#/notes/{{note.id}}">{{note.name}}</a>
            </h4>
            <p>{{note.content}}</p>
        </div>
    </div>
</div>

<div ng-hide="notes.length">
    <h4><a href="#/notes/add">You have no notes, add some!</a></h4>
</div>
