<p class="lead">
  Notes
  <a ui-sref="notes.add" href="" class="btn btn-default pull-right">
    <i class="glyphicon glyphicon-plus-sign"></i>
  </a>
</p>


<div ng-repeat="note in notes">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="pull-right btn-group">
        <a class="btn btn-default btn-xs" ui-sref="notes.edit({id:note.id})">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        <a class="btn btn-default btn-xs" ng-click="delete(note)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
      <a ui-sref="notes.item({id:note.id})" href="">{{note.name}}</a>
    </div>
    <div class="panel-body">
      <pre>{{note.content}}</pre>
    </div>
  </div>
</div>

<div ng-hide="notes.length">
  <h4>
    <a ui-sref="notes.add" href="">You have no notes, add some!</a>
  </h4>
</div>
